---
layout: main
---


<div class="post hentry single" id="post-2">
  <div class="postContent">
    <h2 class="entry-title">
      About
    </h2>
    <div class="entry-content">
      <p>
        It appears I'm writing software for a living, mostly using
        python and C++. 
      </p>
      <p>
        This is a place to store written notes about things that I
        find interesting or useful, so they don't fill up
        my brain.
      </p>
      <p>
        Unpolished side-projects I work on can be found
        on <a href="http://github.com/sevas">github</a>
        and <a href="http://bitbucket.org/sevas">bitbucket</a>.
        Scientific papers I read are compulsively organized, tagged
        and stored 
        <a href="http://www.mendeley.com/profiles/frederic-de-groef/">here</a>.
        I share  <a href="https://plus.google.com/u/0/117359550292524106955/about">things</a> 
        and occasionally <a href="https://twitter.com/sevas">whine</a> online.

      </p>
      <p>Nothing fancy, really.</p>
    </div>
  </div>
</div>

