---
layout: main
---


<div class="post hentry single">

  <h2 class="entry-title">Archives</h2>

    <ul id="linkList">
      {% for post in site.posts %}
      <li>
          <a href="{{ post.url }}">{{ post.title | truncate: 60}}</a>        
          <abbr>{{ post.date | date_to_string }}</abbr>
      </li>

      {% endfor %}
    </ul>


</div>
