---
layout: main
title: braindump_
full_posts: 5
---


{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}

    <div class="post hentry">
      <h5 class="postDate">
        <abbr class="published">
          {{post.date | date: "%B %d, %Y"}}
        </abbr>
      </h5>

      <div class="postContent">
        <h3 class="entry-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>          
        </h3>

        <div class="entry-content">
          <div class="document">
            {{post.content}}
          </div>
        </div>
      </div>
    </div>    
  {% endif %}
{% endfor %}

<div id="gotoArchives">
    <a href=/archives.html>Go to the archives</a>    
</div>

<br/><br/>
<br/><br/>


