<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>{{ page.title }}</title>

  <link rel="shortcut icon" href="/favicon.ico" />

  <link rel="stylesheet" 
        href="/css/manifest/style.css" 
        type="text/css" media="screen" charset="utf-8" />


  <link rel="alternate" 
        type="application/rss+xml" 
        href="/atom.xml" />

  <meta name="author" content="Frederic De Groef" />
  <meta name="generator" content="emacs" />
  <!--meta name="description" content=""-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21488551-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <div id="siteWrapper">
    <h1 class="vcard author">
      <a href="/" title="Home" class="fn">
        braindump_
      </a>
    </h1>

    <div id="mainNav">
      <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="/archives.html">Archives</a></li>
        <li><a href="/atom.xml">Subscribe</a></li>
      </ul>
    </div>
  
    <div id="siteDescription">
      On topics of interest
    </div>

    <!--content-->
    <div id="coreContent" class="hfeed">
      {{ content }}
    </div>


  
    <!--footer-->
    <div class="footerContent">
      <br/>
      <p>Last updated : {{ site.time | date: "%B %d, %Y" }}.</p>
      <br/>
      <p>Powered by <a href="http://jekyllrb.com/">Jekyll</a>,
        hosted on <a href="http://github.com">GitHub</a></p>
      <p>
        Slightly modified <a href="http://jimbarraud.com/manifest/">Manifest</a>
        Wordpress theme by Jim Barraud
      </p>
    </div>
  </div>
</body>
</html>
